<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="Azure.Logger.Storage.Name"          value="applicationlogs" />
    <add key="Azure.Logger.Storage.AccessKey"     value="71/eSWyB9fk0k7Wt9GTKADsPh86WyXv6sdBjx9Kv1+TGu3y8A46X7xv4WFuXxeF8ploCN5sgHzHjF+FOej0iLw==" />
    <add key="Azure.Logger.TableRepository.Name"  value="CloudDiagnostics" />
  </appSettings>
  
</configuration>